

<input type="text" [(ngModel)]="title" name="title" placeholder="Title..">
<textarea [(ngModel)]="content" name="content" placeholder="Content.." rows="1"></textarea>
<input type = "submit" value="add a post" (click)="addPost()">



<ul *ngFor="let post of posts | async">
  <li (click)="getPost(post.id)" style="cursor: pointer">
    <strong>{{ post.data.title}}</strong>(<a href="#" (click)="onDelete(post.id)">delete</a>)
    <br>
    {{post.data.content}}
  </li>
</ul>

<h1>A Specific Post</h1>

<h3>{{ (post | async)?.title }}</h3>
<p>{{ (post | async)?.content }}</p>

